[Unit]
Description=Prometheus monitoring system

[Service]
ExecStart=/usr/sbin/cadvisor
Restart=always
RestartSec=30
Type=simple

[Install]
WantedBy=multi-user.target
